:root {
    --purple: #CDB4DB;
    --lightpink: #FFC8DD;
    --pink: #FFAFCC;
    --lightblue: #BDE0FE;
    --blue: #A2D2FF;
}

.inner_content_wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inner_content_wrapper form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 40%;
}

.inner_content_wrapper form input {
    padding: 5px 8px;
    width: 100%;
    border-bottom: 2px solid var(--purple);
    border-top: none;
    border-left: none;
    border-right: none;
}

.inner_content_wrapper form input:focus {
    outline: none;
}

#id_remember {
    width: auto !important;
}

.inner_content_wrapper form a.btn {
    background-color: var(--blue);
    font-weight: 600;
    border: none;
    border-radius: 10px !important;
}

button {
    background-color: var(--pink);
    font-weight: 600;
    color: white;
    border: none;
    border-radius: 10px;
    padding: 10px 0;
}

.password_reset input {
    background-color: var(--pink);
    font-weight: 600;
    color: white;
    border: none !important;
    border-radius: 10px;
    padding: 10px 0;
}