/* Taher */
:root {
  --primary-color: #cdb4db;
  --secondary-color: #ffc8dd;
  --third-color: #ffafcc;
  --fourth-color: #bde0fe;
  --fifth-color: #a2d2ff;
  --background-color: #f0ebe3;
  --text-color-dark: #333;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  /* CHANGE NEEDED: Collab with Ren please */
  height: 100vh;
  font-family: "Nunito", sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  color: #333;
  background-color: var(--background-color);
}

.navbar {
  background-color: var(--primary-color);
  color: var(--fourth-color);
}

.navbar span {
  font-size: 2rem;
  font-weight: bold;
}

.navbar img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.footer {
  background-color: var(--primary-color);
  color: var(--text-color-dark);
  font-size: 1rem;
  text-align: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.hero-section {
  background-color: var(--secondary-color);
  width: 100%;
  text-align: center;
  border-radius: 10px;
  margin-top: 50px;
  margin-bottom: 30px;
  box-shadow: var(--text-color-dark) 0px 0px 10px;
}

.hero-section h1 {
  font-size: 3.5rem;
  margin-bottom: 20px;
}
.hero-section p {
  font-size: 2rem;
  margin-bottom: 40px;
}

.btn-landing {
  background: var(--fifth-color);
  border-radius: 5px;
  color: var(--text-color-dark);
  padding: 10px 20px;
  font-size: 1.2rem;
}

.btn-landing:hover {
  background: var(--fourth-color);
}

.feature-box {
  background-color: var(--secondary-color);
  padding: 40px 20px;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: var(--text-color-dark) 0px 0px 10px;
}
.feature-box h3 {
  font-size: 2.5rem;
  margin-bottom: 20px;
}
.feature-box p {
  font-size: 1.5rem;
  color: var(--text-color-dark);
  padding: 15px;
}

/* Ren */

.subforum-topic {
  /* color: red; */
  font-weight: bolder;
  text-decoration: none;
  color: var(--text-color-dark);
}

.subforum-heading {
  /* CHANGE NEEDED: This h1 targets *all* h1's in the app, might not be a good idea - be more specific with this one */
  font-size: 25px;
  font-weight: bolder;
}

/* forum section */
.container {
  margin: 0 40px;
  padding: 0 40px 100px;
}

.subforum {
  margin-top: 10px;
}

.subforum-title {
  background-color: var(--secondary-color);
  padding: 10px;
  border-radius: 4px;
  margin: 4px;
}

.subforum-row {
  display: grid;
  grid-template-columns: 7% 40% 23% 30%;
}

.subforum-column {
  padding: 10px;
  margin: 5px;
  border-radius: 5px;
  background-color: var(--fourth-color);
}

.subforum-icon i {
  font-size: 30px;
}

/* utility */
.center {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* media query */
/* for mobile viewpoint  */
@media screen and (max-width: 460px) {
  .container {
    margin: 10px;
    padding: 10px;
  }

  .subforum-row {
    display: grid;
    grid-template-columns: 25% 75%;
    grid-template-rows: 65% 35%;
  }
}

/* for tablet viewpoint */
@media screen and (min-width: 460px) and (max-width: 1024px) {
  .container {
    margin: 20px;
    padding: 20px;
  }

  .subforum-row {
    display: grid;
    grid-template-columns: 10% 45% 20% 25%;
  }

  .subforum-icon i {
    font-size: 35px;
  }

  body {
    font-size: 16px;
  }

  .subforum-heading {
    font-size: 18px;
  }
}

/* Comment-section */
.reply-container {
  border: var(--third-color) 1px solid;
  border-radius: 15px;
  background-color: var(--secondary-color);
  color: #333;
}

.comment-form {
  background-color: var(--secondary-color);
}

#reply-submit {
  border-radius: 15px;
  background-color: var(--secondary-color);
  border-color: var(--third-color);
  color: var(--text-color-dark);
  padding: 10px;
}
#reply-submit:hover {
  background-color: var(--secondary-color);
}

/* thread page */
.information-hub {
  background-color: var(--secondary-color);
  color: #fefdfd;
  border-radius: 10px 60px 30px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}

.forum-post {
  background-color: var(--fourth-color);
  border-radius: 15px;
  display: flex;
  flex-wrap: wrap
}

.forum-comments {
  background-color: var(--fourth-color);
  border-radius: 15px;
}

.post-titles {
  text-decoration: solid;
}

@media screen and (max-width: 480px) {
  .information-hub {
    margin: 0px;
    padding: 15px;
    font-size: small;
  }

  .forum-post {
    font-size: small;
  }

  .comment-reply {
    font-size: x-small;
    max-width: 200px;
  }
}

/* allauth styles */

.inner_content_wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.inner_content_wrapper form {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 40%;
}

.inner_content_wrapper form input {
  padding: 5px 8px;
  width: 100%;
  border-bottom: 2px solid var(--primary-color);
  border-top: none;
  border-left: none;
  border-right: none;
}

.inner_content_wrapper form input:focus {
  outline: none;
}

#id_remember {
  width: auto !important;
}

.inner_content_wrapper form a.btn {
  background-color: var(--fifth-color);
  font-weight: 600;
  border: none;
  border-radius: 10px !important;
}

button {
  background-color: var(--secondary-color);
  font-weight: 600;
  color: white;
  border: none;
  border-radius: 10px;
  padding: 10px 0;
}

.password_reset input {
  background-color: var(--secondary-color);
  font-weight: 600;
  color: white;
  border: none !important;
  border-radius: 10px;
  padding: 10px 0;
}

/* About Page */

.about-page-container {
  margin-bottom: 80px;
}
.about-title {
  font-size: 3.5rem;
  margin-bottom: 20px;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  margin: 20px;
  border: var(--fourth-color) 10px solid;
  box-shadow: var(--text-color-dark) 0px 0px 10px;
  transition: border 0.5s;
}

.avatar:hover {
  border: var(--secondary-color) 10px solid;
  box-shadow: var(--third-color) 0px 0px 10px;
}

.about-card-text {
  font-size: 2rem;
  margin-bottom: 20px;
}

/* Contact Page */
.contact-container {
  background-color: var(--primary-color);
  border-radius: 15px;
  margin-bottom: 50px;
}

.contactForm {
  background-color: var(--secondary-color);
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.form-label {
  font-weight: bold;
}

.form-control {
  width: 100%;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid var(--text-color-dark);
  border-radius: 4px;
}

textarea {
  resize: vertical;
}

.contact-button {
  background-color: var(--fourth-color);
  border-radius: 10px;
  color: var(--text-color-dark);
  border: var(--fifth-color) 2px solid;
  padding: 5px;
}

.contact-button:hover {
  background-color: var(--fifth-color);
}

.form-text {
  font-size: 14px;
  color: var(--text-color-dark);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  .container {
    padding: 10px;
  }

  .container-contact {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
  }
}

/* Thread forum post  */
.thread-title {
  text-align: left;
  padding: 50px;
  text-align: center;
  color: #6962d2;
  font-size: 50px;
}

.thread-container {
  text-align: center;
  border: 1px solid #6962d2;
  width: 80%;
  margin: 0 auto;
  background-color: #e8d8f2;
  margin-top: 20px;
  border-radius: 8px;
}

#threadtitle,
textarea {
  font-size: 50px;
  width: 80%;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  border: 3px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 80%;
  margin-top: 20px;
  resize: none;
}

#threadtitle:focus {
  outline: none;
  border-color: #a2d2ff;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

textarea {
  font-size: 18px;
  height: 400px;
}

textarea:focus {
  outline: none;
  border-color: #ffafcc;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

button {
  border: none;
  background-color: none;
  cursor: pointer;
}

.thread-form-button {
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  background-color: #ffafcc;
  color: #ff084a;
  font-family: Arial, sans-serif;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 50px auto;
}

.thread-form-button:hover {
  background-color: #bde0fe;
  color: #6962d2;
}

.checkbox-container {
  margin-top: 20px;
}

.checkbox-container label {
  color: #6962d2;
  font-size: 20px;
}

/* Topics Page */
.topic-container {
  background-color: var(--primary-color);
  border-radius: 15px;
  padding: 20px;
  margin: 20px auto;
  box-shadow: var(--text-color-dark) 0px 0px 10px;
}

.topics-main-title {
  font-size: 2.5rem;
  margin-bottom: 20px;
  padding: 15px;
  border-radius: 10px;
  text-align: center;
}

.topic-ul li {
  list-style-type: none;
  padding: 0;
  margin: 15px 0;
}
.topic-ul li a {
  text-decoration: none;
  color: var(--text-color-dark);
  font-size: 1.5rem;
  text-transform: capitalize;
  padding: 5px;
  border-radius: 5px;
  background-color: var(--fourth-color);
  width: 400px;
  margin-bottom: 5px;
}

.topic-ul li a:hover {
  border: var(--secondary-color) 2px solid;
}
.topic-description {
  font-size: 1.2rem;
  padding: 10px;
  background-color: var(--secondary-color);
  border-radius: 5px;
  margin: 10px 0;
}

@media screen and (max-width: 460px) {
  #threadtitle {
    font-size: 20px;
  }

  /* Thread forum post  */
  .thread-title {
    text-align: left;
    padding: 50px;
    text-align: center;
    color: #6962d2;
    font-size: 50px;
  }

  .thread-container {
    text-align: center;
    border: 1px solid #6962d2;
    width: 80%;
    margin: 0 auto;
    background-color: #e8d8f2;
    margin-top: 20px;
    border-radius: 8px;
  }

  #threadtitle,
  textarea {
    font-size: 50px;
    width: 80%;
    font-family: Arial, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: #f9f9f9;
    border: 3px solid #ccc;
    border-radius: 8px;
    padding: 10px;
    width: 80%;
    margin-top: 20px;
    resize: none;
  }

  #threadtitle:focus {
    outline: none;
    border-color: #a2d2ff;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }

  textarea {
    font-size: 18px;
    height: 400px;
  }

  textarea:focus {
    outline: none;
    border-color: #ffafcc;
    box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
  }

  button {
    border: none;
    background-color: none;
    cursor: pointer;
  }

  .thread-form-button {
    border: none;
    border-radius: 8px;
    padding: 20px 40px;
    background-color: #ffafcc;
    color: #ff084a;
    font-family: Arial, sans-serif;
    font-size: 22px;
    cursor: pointer;
    transition: background-color 0.3s;
    margin: 50px auto;
  }

  .thread-form-button:hover {
    background-color: #bde0fe;
    color: #6962d2;
  }

  .checkbox-container {
    margin-top: 20px;
  }

  .checkbox-container label {
    color: #6962d2;
    font-size: 20px;
  }
}

@media screen and (max-width: 460px) {
  #threadtitle {
    font-size: 20px;
  }
  .thread-container {
    width: 95%;
  }
}

.feedback-form {
  display: none;
  background-color: #ffc8dd;
  border-radius: 15px;
  padding: 10px;
}

/* Login - Sign UP */

.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: var(--primary-color);
  border-radius: 15px;
}
.login-signup-container form {
  display: flex;
  flex-direction: column;
  width: 100%;
  gap: 20px;
  padding: 20px;
  border-radius: 15px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

/* profile page */
/* Asterisk wilcard selector to override default styles added by the browser */

/*General styles*/
.profile-main-container {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}
.profile-main-card {
  width: 25rem;
  background-color: rgb(173, 173, 239);
  border-radius: 24px;
}
.profile-main-card .profile-main-container {
  width: 80%;
  margin: 0 auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.profile-main-container img {
  width: 160px;
  height: 160px;
  border-radius: 50%;
  border: 10px solid #ecf0fc;
}

.profile-main-container h2 {
  font-size: 32px;
  font-weight: 700;
  margin: 1rem 0 0.5rem 0;
}

.profile-main-container small {
  color: purple;
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 2rem;
}

.profile-main-container .bar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.bar .profile-button {
  width: 6rem;
  cursor: pointer;
  background-color: pink;
  padding: 10px 0;
  border-radius: 16px;
  border-end-end-radius: 1px solid pink;
  color: #333;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  outline: none;
}

.profile-button i {
  font-size: 20px;
  margin-bottom: 0.5rem;
}

.more {
  display: none;
  background-color: #120c35;
  width: 15rem;
  border-radius: 24px;
  padding: 2rem 1rem;
  position: absolute;
  bottom: 0;
  right: -270%;
}

.more li {
  width: 90%;
  height: 2rem;
  background-color: transparent;
  list-style-type: none;
}

.more.active {
  display: block;
}

.more li a {
  display: block;
  height: 100%;
  color: white;
  font-size: 18px;
  line-height: 2rem;
  padding-left: 0.5rem;
  text-decoration: none;
  border-radius: 4px;
  transition: 0.4s ease;
}

.more li a:hover {
  background-color: #2d2559;
}

.btn-more {
  position: relative;
}

@media screen and (max-width: 425px) {
  .profile-main-card {
    width: 15rem;
  }

  .profile-main-container img {
    width: 100px;
    height: 100px;
  }

  .profile-main-container h2 {
    font-size: 20px;
  }

  .profile-main-container small {
    font-size: 14px;
  }

  .bar .profile-button {
    width: 3.6rem;
    font-size: 10pprofile-x;
  }

  .more {
    width: 10rem;
    padding: 1rem 0.5;
  }

  .more li {
    height: 1.5rem;
  }

  .more li a {
    line-height: 1.5rem;
    font-size: 20px;
  }
  .login-signup-container form {
    width: 90%;
  }
}

#id_title,
#id_content {
  font-size: 20px;
  width: 80%;
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: #333;
  background-color: #f9f9f9;
  border: 3px solid #ccc;
  border-radius: 8px;
  padding: 10px;
  width: 80%;
  margin-top: 20px;
  resize: none;
}

#id_title:focus {
  outline: none;
  border-color: #a2d2ff;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

#id_content:focus {
  outline: none;
  border-color: #a2d2ff;
  box-shadow: 0 0 5px rgba(102, 175, 233, 0.5);
}

.create-post-heading {
  margin-left: 5rem;
}

label[for="id_title"] {
  color: #6962d2;
  font-size: 50px;
  margin-top: 10px;
}

label[for="id_content"] {
  color: #6962d2;
  font-size: 25px;
  margin-top: 10px;
  margin-left: 30px;
}

button {
  border: none;
  border-radius: 8px;
  padding: 20px 40px;
  background-color: #bde0fe;
  color: #6962d2;
  font-family: Arial, sans-serif;
  font-size: 22px;
  cursor: pointer;
  transition: background-color 0.3s;
  margin: 50px auto;
}

button:hover {
  background-color: #ffafcc;
  color: #ff084a;
}

#post-form-container {
  text-align: center;
  border: 1px solid #6962d2;
  width: 80%;
  margin: 0 auto;
  background-color: #e8d8f2;
  margin-top: 20px;
  border-radius: 8px;
}
