{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container mt-5">
    <div class="card">
        <div class="card-body">
            <h1 class="card-title">Oops, it seems you've taken a detour into the depths of cyberspace.</h1>
            <h2 class="card-subtitle mb-4">404 Error: Page Not Found</h2>
            <p class="card-text"><em>Take a Deep Breath</em></p>
            <p class="card-text">It looks like you've reached a dead end, but don't worry, we're here to guide you back to smoother waters.</p>
            <p class="card-text"><em>You're Not Alone</em></p>
            <p class="card-text">Just like in life, sometimes we encounter unexpected bumps in the road. But remember, in this community, support is always just a click away.</p>
            <p class="card-text"><em>What Can You Do?</em></p>
            <a href="/" class="btn btn-primary">Return Home</a>: Let's get you back to familiar ground. Return to Home
        </div>
    </div>
</div>

{% endblock %}