{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container justify-content-center align-items-center mx-auto .about-page-container">
    <div class="row text-center">
        <div class="col-12 py-5 mb-5">
            <h1 class="about-title">Meet the Mindful Coders!</h1>
        </div>

        <!-- Top row: -->

        <div class=" col-md-4 col-sm-6 about-card" id="destan">
            <a href="#">
                <img src="static/assets/destan_tezel.png" alt="Destan's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">
                Destan Tezel
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/DestanT">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>

        <div class=" col-md-4 col-sm-6 about-card" id="istem">
            <a href="#">
                <img src="static/assets/istem.png" alt="Istem's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Istem
                <a href="#">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/techistem">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        <div class="col-md-4 col-sm-6 about-card" id="jack_t">
            <a href="">
                <img src="static/assets/jack_t.png" alt="Jack T's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Jack T
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/JackTubby">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>       
        <div class="col-md-4 col-sm-6 about-card" id="karina">
            <a href="">
                <img src="static/assets/karina.png" alt="Karina's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Karina
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/kkumyk">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
         <!-- Logo filler card: -->
         <div class="col-md-4 col-sm-6 about-card" id="mindsister">
            <a href="../templates/index.html">
                <img src="static/assets/logo.png" alt="Mind sister Logo" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Mind Sister
            </p>
        </div>
        <div class="col-md-4 col-sm-6 about-card" id="lydia">
            <a href="">
                <img src="static/assets/lydia_young.png" alt="Lydia's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Lydia
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/kkumyk">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        <div class="col-md-4 col-sm-6 about-card" id="mikaela">
            <a href="">
                <img src="static/assets/makaela.png" alt="Mikeala's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Mikaela
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/mikavir">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        <div class="col-md-4 col-sm-6 about-card" id="ren_bc">
            <a href="">
                <img src="static/assets/ren-bc.jpg" alt="Ren BC's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Ren BC
                <a href="">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Discoveren">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        <div class=" col-md-4 col-sm-6 about-card" id="taher">
            <a href="https://www.linkedin.com/in/taher-m/">
                <img src="static/assets/taher.png" alt="Taher's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Taher
                <a href="https://www.linkedin.com/in/taher-m/">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/TaherCCG">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        
    </div>
</div>
{% endblock %}