{% extends "base.html" %}
{% load static %}

{% block content %}

<div class="container justify-content-center align-items-center mx-auto .about-page-container">
    <div class="row text-center">
        <div class="col-12 py-5 mb-5">
            <h1 class="about-title">Meet the Mindful Coders!</h1>
        </div>

        <!-- Top row: -->

        <div class=" col-md-4 col-sm-6 about-card" id="destan">
            <a href="#" target="_blank">
                <img src="{% static 'assets/destan_tezel.png' %}" alt="Destan's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">
                Destan Tezel
                <a href="#" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/DestanT" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>

        <div class=" col-md-4 col-sm-6 about-card" id="istem">
            <a href="#" target="_blank">
                <img src="{% static 'assets/istem.png' %}" alt="Istem's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Istem
                <a href="#" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/techistem" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        <div class="col-md-4 col-sm-6 about-card" id="jack_t">
            <a href="" target="_blank">
                <img src="{% static 'assets/jack_t.png' %}" alt="Jack T's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Jack T
                <a href="" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/JackTubby" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>       
        <div class="col-md-4 col-sm-6 about-card" id="karina">
            <a href="https://github.com/kkumyk" target="_blank">
                <img src="{% static 'assets/karina1.png' %}" alt="Designer Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Karina
                <a href="https://github.com/kkumyk" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
         <!-- Logo filler card: -->
         <div class="col-md-4 col-sm-6 about-card" id="mindsister">
            <a href="#">
                <img src="{% static 'assets/logo.png' %}" alt="Mind sister Logo" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Mind Sister
            </p>
        </div>
        <div class="col-md-4 col-sm-6 about-card" id="lydia">
            <a href="" target="_blank">
                <img src="{% static 'assets/lydia_young.png' %}" alt="Lydia's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Lydia
                <a href="" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Lydiajoy97">
                    <i class="fab fa-github" target="_blank"></i>
                </a>
            </p>
        </div>
        <div class="col-md-4 col-sm-6 about-card" id="mikaela">
            <a href="" target="_blank">
                <img src="{% static 'assets/makaela.png' %}" alt="Mikeala's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Mikaela
                <a href="" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/mikavir" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        <div class="col-md-4 col-sm-6 about-card" id="ren_bc">
            <a href="" target="_blank">
                <img src="{% static 'assets/ren-bc.jpg' %}" alt="Ren BC's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Ren Pena
                <a href="" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/Discoveren" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        <div class=" col-md-4 col-sm-6 about-card" id="taher">
            <a href="https://www.linkedin.com/in/taher-m/" target="_blank">
                <img src="{% static 'assets/taher.png' %}" alt="Taher's Image" class="img-fluid rounded-circle avatar">
            </a>
            <p class="about-card-text">Taher
                <a href="https://www.linkedin.com/in/taher-m/" target="_blank">
                    <i class="fab fa-linkedin"></i>
                </a>
                <a href="https://github.com/TaherCCG" target="_blank">
                    <i class="fab fa-github"></i>
                </a>
            </p>
        </div>
        
    </div>
</div>
{% endblock %}