{% extends "base.html" %}

{% block content %}
<div class="container title-container d-flex mx-auto">
    <div class="row">
        <div class="col-lg-12 mx-auto py-5">
            <h2>Contact Us</h2>
            <p>At Mind Sister, we understand the importance of providing a safe and supportive space for women to discuss mental health challenges, share experiences, and find solidarity. Our dedicated team is here to assist you in any way we can.

                Whether you have questions about our forum, need support, or want to share feedback, we encourage you to reach out to us. Your well-being is our priority, and we are committed to providing you with the resources and assistance you need on your mental health journey.
                
                Feel free to use the contact form below to send us a message. </p>
        </div>
    </div>
</div>
<div class="container mx-auto contact-container">
    <section id="contactus" class="contact-info mb-4 py-5">
        <form id="contactForm" name="contactForm" onsubmit="return sendMail(this);">
            <div class="mb-2 ">
                <label for="name" class="contactlabel form-label">Your name</label>
                <input type="text" name="name" id="name" class="form-control" required>
            </div>

            <div class="mb-2">
                <label for="email" class="form-label">Your email</label>
                <input type="email" name="email" id="email" class="form-control" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div><br>
            </div>

            <div class="mb-3">
                <label for="enquiry" class="contactlabel form-label">Your query</label>
                <textarea rows="10" name="enquiry" id="enquiry" class="form-control" required></textarea>
            </div>

            <div class="mb-2">
                <input id="submit-button" class="contact-button" type="submit" value="Submit Message"
                    aria-label="clicking submit will redirect to another page">
            </div>
        </form>
        <div class="feedback-form mx-auto" id="thank-you-m">
            <h3>Thank you for reaching out</h3>
            <p>Thank you for reaching out to ou MindSister Forum for Women. We have received your message, and our
                team is grateful for your trust in us.</p>
            <p>Your well-being is our priority, and we are here to provide you with the support and resources you need.
                Your feedback and questions help us improve our services and create a safe and supportive community for
                all.</p>
            <p>Please know that we are working diligently to respond to your message promptly. In the meantime, if you
                have any urgent concerns or need immediate assistance, don't hesitate to reach out to our moderators or
                fellow members.</p>
            <p>Once again, thank you for reaching out to us. We value your participation in our community and look
                forward to supporting you on your mental health journey.</p>
            
                <div class="row text-center">
                    <div class="col">
                        <a href="{% url 'home' %}" class="back-home-btn contact-button"> Home </a>
                    </div>
                </div>

        </div>
    </section>
</div>
<script>
    // Implemented from my(Mikaela)'s project https://github.com/mikavir/rx-decoder/blob/main/assets/scripts/email.js from email js.
    /** Function to send mail once validated using emailjs */
    function sendMail(contactForm) {
        if (validateForm(this)) {
            emailjs.send("service_3sbgcy9", "template_uq3umbc", {
                from_name: contactForm.name.value,
                message: contactForm.enquiry.value,
                reply_to: contactForm.email.value
            }).then(
                (response) => {
                    //https://www.w3schools.com/howto/howto_js_redirect_webpage.asp
                    const contactForm = document.getElementById('contactForm');
                    const thankyouForm = document.getElementById('thank-you-m');
                    contactForm.style.display = "none";
                    thankyouForm.style.display ="block";
                },
                (error) => {
                    console.log("FAILED", error);
                }
            );
            return false;
        } else {
            this.addEventListener('submit', function (event) {
                event.preventDefault();
            });
            console.log("ERROR: Unable to send form as the required fields have not been completed");
        }
    }

    /**Function to validate the form */
    function validateForm() {
        let nameInput = document.forms.contactForm.name;
        let emailInput = document.forms.contactForm.email;
        let enquiryInput = document.forms.contactForm.enquiry;
        if (nameInput.value === "") {
            nameInput.classList.add("is-invalid");
            return false;
        } else if (emailInput.value === "") {
            emailInput.classList.add("is-invalid");
            return false;
        } else if (enquiryInput.value === "") {
            enquiryInput.classList.add("is-invalid");
            return false;
        } else {
            return true;
        }
    }
</script>
{% endblock %}