{% extends "base.html" %}
{% block content %}
<div class="container title-container d-flex mx-auto">
    <div class="row">
        <div class="col-lg-12 mx-auto py-5">
            <h2>Contact Us</h2>
            <h3>We're always here to help!</h3>
        </div>
    </div>
</div>
<div class="container mx-auto contact-container">
    <section id="contactus" class="contact-info mb-4 py-5">
        <form id="contactForm" name="contactForm" onsubmit="return sendMail(this);">
            <div class="mb-2 ">
                <label for="name" class="contactlabel form-label">Your name</label>
                <input type="text" name="name" id="name" class="form-control" required>
            </div>

            <div class="mb-2">
                <label for="email" class="contactlabel form-label">Your email</label>
                <input type="email" name="email" id="email" class="form-control" required>
                <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div><br>
            </div>

            <div class="mb-3">
                <label for="enquiry" class="contactlabel form-label">Your query</label>
                <textarea rows="10" name="enquiry" id="enquiry" class="form-control" required></textarea>
            </div>

            <div class="mb-2">
                <input id="submit-button" class="contact-button" type="submit" value="Submit Message"
                    aria-label="clicking submit will redirect to another page">
            </div>
        </form>
    </section>
</div>
<script>
    // Implemented from my(Mikaela)'s project https://github.com/mikavir/rx-decoder/blob/main/assets/scripts/email.js from email js.
    /** Function to send mail once validated using emailjs */
    function sendMail(contactForm) {
        if (validateForm(this)) {
            emailjs.send("service_3sbgcy9", "template_uq3umbc", {
                from_name: contactForm.name.value,
                message: contactForm.enquiry.value,
                reply_to: contactForm.email.value
            }).then(
                (response) => {
                    //https://www.w3schools.com/howto/howto_js_redirect_webpage.asp
                    console.log("success")
                },
                (error) => {
                    console.log("FAILED", error);
                }
            );
            return false;
        } else {
            this.addEventListener('submit', function (event) {
                event.preventDefault();
            });
            console.log("ERROR: Unable to send form as the required fields have not been completed");
        }
    }

    /**Function to validate the form */
    function validateForm() {
        let nameInput = document.forms.contactForm.name;
        let emailInput = document.forms.contactForm.email;
        let enquiryInput = document.forms.contactForm.enquiry;
        if (nameInput.value === "") {
            nameInput.classList.add("is-invalid");
            return false;
        } else if (emailInput.value === "") {
            emailInput.classList.add("is-invalid");
            return false;
        } else if (enquiryInput.value === "") {
            enquiryInput.classList.add("is-invalid");
            return false;
        } else {
            return true;
        }
    }
</script>
{% endblock %}