{% extends "base.html" %}
{% load static %}

{% block content %}

<!-- Hero Section -->
<div class="container d-flex justify-content-center align-items-center mx-auto">
    <div class="hero-section mb-5 py-5 text-center">
        <h1>Welcome to MindSister</h1>
        <p>Empowering women to take charge of their health and wellness journey.</p>
        {% if user.is_authenticated %}
        <a href="{% url 'about' %}" class="btn btn-landing">Get Involved</a>
        {% else %}
        <a href="{% url 'account_signup' %}" class="btn btn-landing">Join Now</a>
        {% endif %}
    </div>
</div>

<!-- Features Section -->
<div class="container feature-container d-flex justify-content-center align-items-center mx-auto">
    <div class="row">
        <div class="col-lg-6 mb-5">
            <div class="feature-box">
                <h3><i class="fa-solid fa-circle-nodes"></i> Stay Connected</h3>
                <p>Connect with a supportive community of women who share similar health interests and experiences.
                    Staying connected to a women's health forum offers many benefits. By actively participating in
                    discussions and sharing experiences, you can gain valuable insights, find solidarity, and access
                    tailored resources. Maintaining involvement fosters empowerment, motivating you to enhance
                    well-being and advocate for your health needs. Through ongoing interaction, you can cultivate
                    support networks, strengthen health literacy, and navigate your health journey with confidence.</p>
            </div>
        </div>
        <div class="col-lg-6 mb-5">
            <div class="feature-box">
                <h3><i class="fa-solid fa-quote-left"></i> Quotes</h3>
                <p>
                    Women's health deserves our utmost attention. As caregivers, we often prioritize the well-being of
                    others over our own, but self-care is not selfish; it's essential. Nurturing our bodies and minds
                    enables us to better support those around us. Let's remember, we cannot pour from an empty cup. By
                    prioritizing our health, we reclaim our power and honour our bodies. Let's commit to self-care,
                    listening to our bodies, and celebrating our worth. Together, we can create a world where women's
                    health is valued and supported. Empowering each other with self-love and self-respect shapes a
                    brighter future for all.</p>
            </div>
        </div>
    </div>
</div>

{% endblock %}