{% extends "base.html" %} {% block content %}
<div class="thread-container">
  <h2 class="thread-title">Post Thread</h2>
  <form action="/submit-form" method="POST">
    <div class="form-group">
      <input
        class="form-input"
        type="text"
        id="threadtitle"
        name="threadtitle"
        placeholder="Thread title"
        required
      />
    </div>
    <div class="form-group">
      <label class="form-label" for="message"></label>
      <textarea
        class="form-input"
        id="message"
        name="message"
        required
        placeholder="Type here..."
      ></textarea>
    </div>
    <div class="checkbox-container">
      <label class="custom-checkbox">
        <input
          class="input-text"
          type="checkbox"
          name="checkbox"
          id="checkboxId"
        /><i class="fa-regular fa-eye-slash"></i>
        Post Anonymously
      </label>
    </div>
    <button class="thread-form-button" type="submit">
      <i class="fa-regular fa-pen-to-square"></i> Post Thread
    </button>
  </form>
</div>

{% endblock %}
