{% extends "base.html" %}
{% load crispy_forms_tags %}
{% load static %}

{% block content %}
<div class="card">
    <div class="container">
        <img src="{{ profile.image.url }}" alt="User profile image">
        <h2>{{ profile.owner.username }}</h2>
        <small>{{ profile.bio }}</small>

        <div class="bar">
            <a class="button" href="{% url 'profiles:profile_update' pk=profile.pk %}">
                <i class="fa-solid fa-pencil"></i>
                <span>Edit profile</span>
            </a>
            <button class="button">
                <i class="fa-regular fa-face-smile"></i>
                <span>Set a status</span>
            </button>
            <button class="button btn-more">
                <i class="fa-solid fa-ellipsis"></i>
                <span>More</span>
                <ul class="more">
                    <li><a href="#">Update your status</a></li>
                    <li><a href="#">FAQ</a></li>
                </ul>
            </button>
        </div>

        <form method="post" action="{% url 'profiles:profile_update' pk=profile.pk %}" class="container">
            {% csrf_token %}
            <div class="bar">
                <div>
                    {{ profile_edit_form | crispy }}
                </div>
                <div>
                    <button type="submit" class="button">Save</button>
                </div>
            </div>
        </form>

    </div>
</div>


{% endblock %}