{% extends "base.html" %}
{% block content %}

<section class="container my-4 ">
    <form class="p-5">
        <div class="mb-2 ">
            <label for="name" class="contactlabel form-label">Your name</label>
            <input type="text" name="name" id="name" class="form-control" required>
            <div id="nameHelp" class="form-text">Please provide your preferred name.</div><br>
        </div>

        <div class="mb-2">
            <label for="email" class="contactlabel form-label">Your email</label>
            <input type="email" name="email" id="email" class="form-control" required>
            <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div><br>
        </div>
        <div class="mb-2">
            <label for="username" class="contactlabel form-label">Your username</label>
            <input type="username" name="username" id="username" class="form-control" required>
            <div id="usernameHelp" class="form-text">Share a unique username</div><br>
        </div>
        <div class="mb-2">
            <label for="password" class="contactlabel form-label">Your Password</label>
            <input type="password" name="password" id="password" class="form-control" required>
            <div id="passwordHelp" class="form-text">Alphanumeric, Has to be more than 8 characters</div><br>
        </div>
        <div class="mb-2">
            <label for="confirm-password" class="contactlabel form-label">Confirm Your Password</label>
            <input type="confirm-password" name="confirm-password" id="confirm-password" class="form-control" required>
            <div id="passwordHelp" class="form-text">Confirm Password</div><br>
        </div>


        <div class="mb-3 form-check">
            <input type="checkbox" class="form-check-input" id="exampleCheck1" required>
            <label class="form-check-label" for="exampleCheck1">I have read and agreed to the <a
                    href="">privacy
                    policy</a></label>
        </div>

        <div class="mb-2">
            <input id="submit-button" class="btn btn-primary" type="submit" value="Submit Message"
                aria-label="clicking submit will redirect to another page">
        </div>
    </form>
</section>


{% endblock %}