{% extends "base.html" %} {% block content %}

<div class="container">
  <div class="subforum">
    <div class="subforum-title">
      <h1 class="subforum-heading">Mental Health Experiences</h1>
    </div>
  </div>
  <div class="subforum-row">
    <div class="subforum-icon subforum-column center">
      <i class="fa-regular fa-comment"></i>
    </div>
    <div class="subforum-description subforum-column">
      <h1 class="subforum-heading">
        <a class="subforum-topic" href="">Introduce Yourself</a>
      </h1>
      <p>
        Description Content: Lorem ipsum, dolor sit amet consectetur adipisicing
        elit.
      </p>
    </div>
    <div class="subforum-stats subforum-column center">
      <span>Threads <br />24K</span>
    </div>
    <div class="subforum-info subforum-column">
      <strong> <a class="subforum-topic" href=""> Last post</a> </strong> by
      <a class="subforum-topic" href="">User1</a>
      <br />
      <span>at 22 Dec 2023</span>
    </div>
  </div>
  <div class="subforum-row">
    <div class="subforum-icon subforum-column center">
      <i class="fa-regular fa-comment"></i>
    </div>
    <div class="subforum-description subforum-column">
      <h1 class="subforum-heading">
        <a class="subforum-topic" href="">Mental Health Experience</a>
      </h1>
      <p>
        Description Content: Lorem ipsum, dolor sit amet consectetur adipisicing
        elit.
      </p>
    </div>
    <div class="subforum-stats subforum-column center">
      <span>Threads <br />24K</span>
    </div>
    <div class="subforum-info subforum-column">
      <strong> <a class="subforum-topic" href=""> Last post</a> </strong> by
      <a class="subforum-topic" href="">User1</a>
      <br />
      <span>at 22 Dec 2023</span>
    </div>
  </div>
  <div class="subforum-row">
    <div class="subforum-icon subforum-column center">
      <i class="fa-regular fa-comment"></i>
    </div>
    <div class="subforum-description subforum-column">
      <h1 class="subforum-heading">
        <a class="subforum-topic" href="">Caring and Mental Health</a>
      </h1>
      <p>
        Description Content: Lorem ipsum, dolor sit amet consectetur adipisicing
        elit.
      </p>
    </div>
    <div class="subforum-stats subforum-column center">
      <span>Threads <br />24K</span>
    </div>
    <div class="subforum-info subforum-column">
      <strong> <a class="subforum-topic" href=""> Last post</a> </strong> by
      <a class="subforum-topic" href="">User1</a>
      <br />
      <span>at 22 Dec 2023</span>
    </div>
  </div>
  <div class="subforum-row">
    <div class="subforum-icon subforum-column center">
      <i class="fa-regular fa-comment"></i>
    </div>
    <div class="subforum-description subforum-column">
      <h1 class="subforum-heading">
        <a class="subforum-topic" href="">Cost of Living Crisis</a>
      </h1>
      <p>
        Description Content: Lorem ipsum, dolor sit amet consectetur adipisicing
        elit.
      </p>
    </div>
    <div class="subforum-stats subforum-column center">
      <span>Threads <br />24K</span>
    </div>
    <div class="subforum-info subforum-column">
      <strong> <a class="subforum-topic" href=""> Last post</a> </strong> by
      <a class="subforum-topic" href="">User1</a>
      <br />
      <span>at 22 Dec 2023</span>
    </div>
  </div>
</div>
<div class="container">
  <div class="subforum">
    <div class="subforum-title">
      <h1 class="subforum-heading">Mental Health Experiences</h1>
    </div>
  </div>
  <div class="subforum-row">
    <div class="subforum-icon subforum-column center">
      <i class="fa-regular fa-comment"></i>
    </div>
    <div class="subforum-description subforum-column">
      <h1 class="subforum-heading">
        <a class="subforum-topic" href="">Introduce Yourself</a>
      </h1>
      <p>
        Description Content: Lorem ipsum, dolor sit amet consectetur adipisicing
        elit.
      </p>
    </div>
    <div class="subforum-stats subforum-column center">
      <span>Threads <br />24K</span>
    </div>
    <div class="subforum-info subforum-column">
      <strong> <a class="subforum-topic" href=""> Last post</a> </strong> by
      <a class="subforum-topic" href="">User1</a>
      <br />
      <span>at 22 Dec 2023</span>
    </div>
  </div>
</div>
<script
  src="https://kit.fontawesome.com/cb56c22edc.js"
  crossorigin="anonymous"
></script>

{% endblock %}
