{% extends "base.html" %}

{% block content %}
{% comment %} Post {% endcomment %}
<section class="information-hub mx-auto mb-2">
    <div class="row">
        <div class="col">
            <h1>{{ post.title }}</h1>
            <p>{{ post.content }}</p>
        </div>
    </div>


{% comment %} comments {% endcomment %}
<div style="margin: auto; text-align: center;">
<div class="row comment-reply p-2">
    <div class="m-4">
        <h3>Add a Comment</h3>
        <form method="post" action="{% url 'forum:add_comment_to_post' post.id %}">
            {% csrf_token %}
            <textarea name="content" id="new-comment" cols="60" rows="5" placeholder="Write your comment here..."></textarea>
            <button type="submit" id="btn-post">Post Comment</button>
        </form>        
    </div>
    <div class="col m-4">
        <div id="comment-container">
            <div class="forum-comments">
                {% if comments %}
                {% for comment in comments %}
                    <div class="mb-4">
                        <p>
                            <i class="fa-solid fa-comment-dots"></i> 
                            <strong>{{ comment.author }}:</strong> 
                            <p>
                                {{ comment.content }}
                            </p>
                        </p>
                        <p>This post was written by {{post.author}} {{post.created_on}}</p>
                        {% if request.user == comment.author %}
                        <a href="{% url 'forum:comment_update' pk=comment.pk %}" style="color: white; padding: 0 5px 0 0;">Edit</a>
                        <a href="{% url 'forum:comment_delete' pk=comment.pk %}" style="color: white; ">Delete</a>
                        {% endif %}
                    </div>
                    <hr>
                {% endfor %}
                {% else %}
                <p>No comments to show</p>
                {% endif %}
            </div>
        </div>
    </div>
</div>
</div>
</section>
{% endblock %}
