{% extends "base.html" %}
{% block content %}
<section class="container-fluid information-hub mx-auto mb-2">
    <div class="row">
        <div class="col">
            <h1> Menopause </h1>
        </div>
    </div>
    <div class="row">
        <div class="col">
            Information 
        </div>
    </div>
</section>
<section class="container mb-5 mx-auto">
    <div class="rowmb-2">
        <div class="col">
            <div class="row forum-post p-3">
                <div class="row">
                    <div class="col">
                        <h2> Subject</h2>
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        author:
                    </div>
                    <div class="col">
                        Created at:
                    </div>
                </div>
                <div class="row">
                    <div class="col">
                        <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."
                        </p>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <div class="row comment-reply p-2">
        <div class="col">
            <div class="row">
                <div class="col">
                    Author:
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <p>
                        Hi! You're doing great! mwah mwah mwah!
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}